---
name: Build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        jdk: ['21']

    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          show-progress: false
          persist-credentials: false

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: zulu
          java-version: ${{ matrix.jdk }}
          java-package: jdk
          cache: maven

      - name: Run
        run: |
          mvn clean install jetty:run -Dderby.system.home="$(pwd)/target/classes" &
          sleep 45
          for i in $(seq 1 4) ; do printf "curl -f -v -H \"tenant: tenant%s\" http://localhost:8080/\0" "$i" ; done | parallel -0

      - name: Stop test resources
        if: always()
        run: |
          mvn clean jetty:stop || true
