---
name: Build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        jdk: ['21']

    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          show-progress: false

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: zulu
          java-version: ${{ matrix.jdk }}
          java-package: jdk
          cache: maven

      - name: Run
        run: |
          mvn clean install jetty:run -Dderby.system.home="$(pwd)/target/classes" &
          sleep 45
          for i in $(seq 1 4) ; do printf "curl -f -v -H \"tenant: tenant%s\" http://localhost:8080/\0" "$i" ; done | parallel -0

      - name: Stop test resources
        if: always()
        run: |
          mvn clean jetty:stop || true
