---
name: Build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        jdk: ['21']

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          show-progress: false
          persist-credentials: false

      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: zulu
          java-version: ${{ matrix.jdk }}
          java-package: jdk
          cache: maven

      - name: Run
        run: |
          mvn clean install jetty:run -Dderby.system.home="$(pwd)/target/classes" &
          sleep 45
          for i in $(seq 1 4) ; do printf "curl -f -v -H \"tenant: tenant%s\" http://localhost:8080/\0" "$i" ; done | parallel -0

      - name: Stop test resources
        if: always()
        run: |
          mvn clean jetty:stop || true
